body{ 
    background-color: coral;
}
h1{
    text-decoration: underline;
    color: azure;
    text-align: center;
    font-size: xx-large;
}
h2{
 color:black;
 font: small-caps bold 24px/1 sans-serif;

}
p{
    font: italic 1.2rem "Fira Sans", serif;
}
ul{
    list-style:circle ;
    font-style:normal;
    color: ivory;
font-size: larger;
}
h3{
    color: yellow;
}
p1{
    font-style: oblique;
    text-decoration: overline;
}
p2{
    font-style: oblique;
    text-decoration: underline;
}
